# IDE
.idea/
*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Visual Code specific directories
bin
.settings
.project
.classpath

# Ignoring some Git files
*.patch
